# Arduino IDE (que genera al compilar)
*.elf
*.hex
*.eep
*.bin
*.o
*.d

# Carpetas temporales de Arduino IDE
.build/
.cache/
.arduino/
Arduino/

# Videos pesados 
*.mp4
*.mov
*.avi
*.mkv

# Basura del sistema
.DS_Store
Thumbs.db
__MACOSX/
*.tmp

# Archivos de backup del editor
*~
*.bak
